.settings
.buildpath
.project
/wp-config.php
/.htaccess
/wp-content/advanced-cache.php
/wp-content/cache/
/wp-content/db.php
/wp-content/object-cache.php
/wp-content/plugins/w3-total-cache/
/wp-content/plugins/wp-optimize/
/wp-content/w3tc-config/
/wp-config.php
wp-content/plugins/wp-smtp

